* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", "Arial", "sans-serif";
}

a {
	text-decoration: none;
}

html {
	background-color: #2e333a;
}

body {
}

.nav {
	background-color: #13161a;
	border-bottom: 1px solid #404040;
	position: relative;
	height: 75px;
}

.nav img {
	height: 75px;
	padding: 10px;
	margin-left: 30px;
}

.page_title {
	display: inline-block;
	color: #e1e1e1;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	position: absolute;
	top: 13px;
	margin-left: 15px;
}

.nav_links_left,
.nav_links_right {
	display: block;
	float: left;
}

.nav_links_centered {
	display: block;
	width: calc(100% - 500px);
	float: left;
	text-align: center;
}

.nav_links_centered a {
	color: #e1e1e1;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 18px;
	margin: 0 25px;
	line-height: 75px;
	display: inline-block;
	background-image: linear-gradient(to right, #3e8bd3, 50%, white 50%);
	background-size: 200% 100%;
	background-position: -100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.2s ease-in-out;
	font-weight: 700;
}

.nav_links_centered a:hover {
	background-position: 0;
	text-shadow: 0px 0px 5px rgba(65, 105, 225, 0.665);
}

.header {
	display: none;
}

footer {
	height: 180px;
	background-color: #13161a;
	font-size: 14px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 500;
	color: #e1e1e1;
	text-align: center;
	padding: 20px;
	margin-top: 150px;
}

footer a {
	font-size: 17px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 500;
	color: #e1e1e1;
	transition: all 0.2s ease-in-out;
}

footer a:hover {
	color: #3e8bd3;
	text-shadow: 0px 0px 5px rgba(65, 105, 225, 0.665);
}

.footer_text {
	line-height: 45px;
}

main {
	width: 80%;
	margin: 0 10%;
	margin-top: 100px;
}

.main_head {
	background-color: #0d1721;
	height: 500px;
	border-radius: 20px;
	width: 50%;
	transform: translate(50%, 0%);
	color: #f4f4f4;
	text-transform: uppercase;
	font-size: 23px;
	padding: 35px;
}

.main_head h2 {
	font-size: 42px;
}

.main_head_naglowek {
	line-height: 50px;
	text-align: center;
}

.main_head_ul {
	margin-left: 25px;
	margin-top: 15px;
}

.main_head_ul li {
	border: 3px solid rgba(255, 255, 255, 0.647);
	padding: 10px;
	border-radius: 15px;
	text-align: center;
	margin-top: 20px;
	background-color: #3e8bd3b7;
}

.html_menu {
	margin-top: 150px;
	background-color: #e64a23f0;
	height: 500px;
	border-radius: 20px;
	width: 100%;
	color: #f4f4f4;
	text-transform: uppercase;
	font-size: 23px;
	padding: 35px;
}

.html_menu_head h2 {
	font-size: 42px;
	letter-spacing: 3px;
}

.html_menu_text {
	margin-top: 20px;
	letter-spacing: 0.5px;
}

.html_menu_text_ul {
	margin-top: 120px;
}

.html_menu_text li {
	margin-top: 20px;
	margin-left: 24px;
}

.html_menu_img img {
	float: right;
	height: 430px;
	border-radius: 10px;
}

.html_menu_prawa {
	float: right;
}

.html_menu_lewa {
	float: left;
}

.css_menu {
	margin-top: 150px;
	background-color: #2340b2eb;
	height: 500px;
	border-radius: 20px;
	width: 100%;
	color: #f4f4f4;
	text-transform: uppercase;
	font-size: 23px;
	padding: 35px;
}

.css_menu_text_2 {
	margin-top: 60px;
}

.css_menu_text_3 {
	margin-top: 60px;
}

.css_menu_head h2 {
	font-size: 42px;
	letter-spacing: 3px;
}

.css_menu_text {
	margin-top: 20px;
	letter-spacing: 0.5px;
}

.js_menu {
	margin-top: 150px;
	background-color: #e2d76f;
	height: 500px;
	border-radius: 20px;
	width: 100%;
	color: #373131;
	text-transform: uppercase;
	font-size: 23px;
	padding: 35px;
}

.js_menu_text_2 {
	margin-top: 60px;
}

.js_menu_text_3 {
	margin-top: 60px;
}

.js_menu_head h2 {
	font-size: 42px;
	letter-spacing: 3px;
}

.js_menu_text {
	margin-top: 20px;
	letter-spacing: 0.5px;
}

.internetowychIikona {
	display: inline-block;
}

.frontendowe {
	display: inline-block;
}

@media (max-width: 1500px) {
	.internetowychIikona {
		display: block;
	}

	.frontendowe {
		display: block;
	}

	.html_menu_text li {
		margin-top: 10px;
	}
}

/* małe laptoy i desktopy */
@media (min-width: 1200px) {
	.information_btn {
		letter-spacing: 3px;
		font-size: 20px;
		font-weight: 500;
		text-transform: uppercase;
		float: right;
		display: block;
		margin-right: 30px;
	}

	.nav_links_left,
	.nav_links_right {
		width: 250px;
		display: block;
		float: left;
	}

	.information_btn a {
		color: #e1e1e1bd;
		transition: all 0.2s ease-in-out;
		line-height: 75px;
		display: inline-block;
	}

	.information_btn a:hover {
		color: #3e8bd3;
		text-shadow: 0px 0px 5px rgba(65, 105, 225, 0.665);
	}
}

/* laptopy i desktoy i inne */
@media (min-width: 1300px) {
	.information_btn {
		letter-spacing: 3px;
		font-size: 20px;
		font-weight: 500;
		text-transform: uppercase;
		float: right;
		display: block;
		margin-right: 30px;
	}

	.nav_links_left,
	.nav_links_right {
		width: 250px;
		display: block;
		float: left;
	}

	.information_btn a {
		color: #e1e1e1bd;
		transition: all 0.2s ease-in-out;
		line-height: 75px;
		display: inline-block;
	}

	.information_btn a:hover {
		color: #3e8bd3;
		text-shadow: 0px 0px 5px rgba(65, 105, 225, 0.665);
	}
}

/* tablety w poziomie */
@media (min-width: 992px) and (max-width: 1199px) {
	.nav_links_centered a {
		border: 2px solid #474747;
		border-radius: 10px;
		margin: 12px 15px;
		top: 10px;
		line-height: 45px;
		padding: 0px 19px;
		letter-spacing: 4px;
		text-align: center;
	}

	.information_btn {
		display: none;
	}

	.nav_links_centered {
		width: calc(100% - 295px);
	}

	.nav_links_left {
		width: 270px;
	}

	.nav_links_right {
		width: 0px;
	}

	.nav {
		border-bottom: 2px solid #404040;
		height: 75px;
	}

	.nav img {
		margin-top: 3px;
	}

	.page_title {
		top: 14px;
	}
}

/* tablety w pionie */
@media (min-width: 767px) and (max-width: 991px) {
	.page_title {
		display: none;
	}

	.information_btn {
		display: none;
	}

	.nav img {
		margin-left: 10px;
		margin-top: 3px;
	}

	.nav_links_left {
		width: 80px;
	}

	.nav_links_right {
		width: 0px;
	}

	.nav_links_centered {
		width: calc(100% - 100px);
	}

	.nav_links_centered a {
		border: 2px solid #474747;
		border-radius: 10px;
		margin: 12px 15px;
		top: 10px;
		line-height: 45px;
		padding: 0px 19px;
		letter-spacing: 4px;
	}

	.nav {
		border-bottom: 2px solid #404040;
		height: 75px;
	}
}

/* bardzo wąskie telefony */
@media (max-width: 320px) {
	.page_title {
		display: none;
	}

	.nav_links_left {
		width: auto;
	}

	.information_btn {
		display: none;
	}

	footer {
		height: 210px;
	}
}

/* Telefony */
@media (max-width: 766px) {
	.header {
		display: block;
	}

	.nav_links_centered {
		display: none;
	}

	.information_btn {
		display: none;
	}

	.page_title {
		font-weight: 600;
		font-size: 11px;
		top: 11px;
	}

	.nav img {
		height: 60px;
		padding: 10px;
		margin-left: 10px;
	}

	.nav {
		height: 65px;
	}

	/* Do mobilnego wysuwanego menu */

	.header ul {
		overflow: hidden;
		background-color: #262626;
		border-bottom: 1px solid #404040;
	}

	.header li a {
		display: block;
		padding: 20px 20px;
		text-decoration: none;
	}

	.header li a:hover,
	.header .menu-btn:hover {
		background-color: #4169e1a8;
		border: 0.5px solid #4169e1a8;
	}

	/* mobilne wysuwane menu */

	.header .menu {
		clear: both;
		max-height: 0;
		transition: max-height 0.2s ease-out;
	}

	.menu a {
		color: #e1e1e1;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 16px;
		border: 0.5px solid #2a2a2a;
		font-weight: 500;
		text-align: center;
	}

	/* mobilne wysuwane menu ikona menu */

	.header .menu-icon {
		cursor: pointer;
		display: inline-block;
		float: right;
		padding: 30.6px 21px;
		position: relative;
		user-select: none;
		background-color: royalblue;
	}

	.header .menu-icon .navicon {
		background: rgb(255, 255, 255);
		display: block;
		height: 4px;
		position: relative;
		transition: 0.2s ease-out;
		width: 25px;
	}

	.header .menu-icon .navicon:before,
	.header .menu-icon .navicon:after {
		background: white;
		content: "";
		display: block;
		height: 90%;
		position: absolute;
		transition: all 0.2s ease-out;
		width: 100%;
	}

	.header .menu-icon .navicon:before {
		top: 8px;
	}

	.header .menu-icon .navicon:after {
		top: -8px;
	}

	/* menu btn */

	.header .menu-btn {
		display: none;
	}

	.header .menu-btn:checked ~ .menu {
		max-height: 240px;
	}

	.header .menu-btn:checked ~ .menu-icon .navicon {
		background: transparent;
	}

	.header .menu-btn:checked ~ .menu-icon .navicon:before {
		transform: rotate(-45deg);
	}

	.header .menu-btn:checked ~ .menu-icon .navicon:after {
		transform: rotate(45deg);
	}

	.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
		top: 0;
	}
}
