/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Koniec RESETU */

html {
	font-size: 8px;
}

body {
	font-family: "Nunito", sans-serif;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	background: center/100% no-repeat url("../images/pixabay_webdeveloper");
	width: 100%;
	height: 50vh;
	color: rgb(236, 245, 255);
	align-items: center;
	background-size: cover;
}

header h1 {
	margin-left: 7%;
	margin-right: 7%;
	font-weight: 600;
	letter-spacing: 1.5px;
	background-color: #000000b3;
	padding: 40px;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.546) 0px 3px 8px;
	font-size: 2vw;
	margin-bottom: 80px;
}

header .h_name {
	font-size: 2rem;
	writing-mode: vertical-rl;
	position: absolute;
	right: 0px;
	opacity: 0.5;
	background-color: #00000059;
	padding: 20px 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;
	margin-bottom: 80px;
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

.tracking-in-expand {
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

nav {
	align-items: center;
	display: flex;
	width: 100%;
	height: 80px;
	background-color: rgb(5 16 45 / 94%);
	margin-top: -80px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	justify-content: center;
}

.slide-in-right {
	animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

.slide-in-blurred-top {
	animation: slide-in-blurred-top 2s cubic-bezier(0.19, 1, 0.22, 1) both;
}

@keyframes slide-in-blurred-top {
	0% {
		-webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

.puff-in-center {
	animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@keyframes puff-in-center {
	0% {
		-webkit-transform: scale(2);
		transform: scale(2);
		-webkit-filter: blur(4px);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 2.8rem;
	letter-spacing: 1.5px;
	padding: 27px 28px;
	font-weight: 600;
	transition: all 0.5s;
}

.checkbox {
	display: none;
}

nav ul li {
	transition: all 0.5s;
}

nav ul li:hover {
	transform: scale(1.2);
}

nav ul li a:hover {
	color: #f74017eb;
}

nav ul li a::before {
	content: "";
	position: absolute;
	width: 70%;
	height: 3px;
	border-radius: 4px;
	background-color: #ffffff4a;
	bottom: 0;
	left: 19px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.3s ease-in-out;
	top: 39px;
}

nav ul li a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

main {
	background-color: #233057;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%2300B5B5'/%3E%3Cstop offset='1' stop-color='%2394B84A'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23B00000'/%3E%3Cstop offset='1' stop-color='%23B79300'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: cover;
	display: flex;
	justify-content: center;
	color: #ffffffda;
	background-size: 95%;
}

.main_m {
	width: 80%;
}

.title_section {
	margin-top: 150px;
	color: #ffffff;
	font-weight: 600;
	font-size: 3rem;
	background-color: #11182a8d;
	border-radius: 50px;
	padding: 50px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title_section h2 {
	font-weight: 800;
	letter-spacing: 1.5px;
	font-size: 3.5rem;
}

section {
	margin-bottom: 200px;
	font-size: 2.6rem;
	letter-spacing: 0.5px;
	line-height: 35px;
}

h3 {
	font-weight: 800;
	background-color: #11182a8d;
	border-radius: 20px;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wcanbelearn {
	background-color: #11182a8d;
	border-radius: 20px;
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
}

.wcanbelearn h3 {
	writing-mode: vertical-rl;
	text-align: center;
	color: #f74017;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #0969c39c;
}

.wcanbelearn ul li a {
	text-decoration: none;
	color: #ffffffda;
	background-color: #11182a49;
	padding: 15px;
	border-radius: 15px;
	transition: cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
	cursor: default;
}

.wcanbelearn ul li a:hover {
	text-decoration: none;
	color: #f74017;
	background-color: #11182ad9;
	border-radius: 30px;
	scale: 1.2;
}

.wcanbelearn ul li {
	padding: 15px;
	display: flex;
}

.wcanbelearn ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.img_macbook {
	width: 50%;
	height: auto;
	opacity: 0.9;
	border-radius: 50px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	float: left;
	margin-right: 30px;
}

footer {
	width: 100%;
	height: 400px;
	background-color: #0f1b3d;
	box-shadow: rgb(55 55 55 / 1%) 0px 46px 122px -12px inset,
		rgb(0 0 0 / 20%) 0px 43px 75px -18px inset;
	display: flex;
	color: #ffffffda;
	justify-content: space-evenly;
	letter-spacing: 0.5px;
	flex-direction: column;
	align-items: center;
	font-size: 2rem;
	text-align: center;
}

footer h2 {
	display: flex;
	font-size: 3rem;
	margin-top: 40px;
	letter-spacing: 1.5px;
	font-weight: 800;
}

footer ul {
	display: flex;
}

footer ul li {
	border: 2px solid #ffffff09;
	padding: 20px 0;
	box-shadow: #0969c34a 0px 5px, rgb(46 106 240 / 30%) 0px 10px,
		rgb(46 100 240 / 20%) 0px 15px, rgb(46 118 240 / 10%) 0px 20px,
		rgb(46 136 240 / 5%) 0px 25px;
	transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
}

footer ul li:hover {
	border: 2px solid #1950a6;
	background-color: #194fa645;
}

footer ul li:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

footer ul li:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

footer ul li a {
	text-decoration: none;
	color: #ffffff9f;
	padding: 30px;
	transition: all 0.2s;
}

footer ul li a:hover {
	color: #ffffff;
}

footer span {
	color: #ffffffb5;
	margin-top: 40px;
}

/* laptopy i desktoy i inne */
@media (min-width: 1300px) {
	header {
		height: 48vh;
	}
}

/* małe laptopy i desktopy */
@media (min-width: 1200px) {
}

/* tablety w poziomie */
@media (min-width: 992px) and (max-width: 1199px) {
	header .h_name {
		font-size: 1.4rem;
	}
	html {
		font-size: 8px;
	}
}

/* tablety w pionie */
@media (min-width: 767px) and (max-width: 991px) {
	header .h_name {
		font-size: 1.4rem;
	}
	header h1 {
		margin-right: 55%;
		font-size: 3vw;
		text-align: center;
		line-height: 35px;
	}
	html {
		font-size: 8px;
	}
}

/* Telefony */
@media (max-width: 766px) {
	header h1 {
		font-size: 4rem;
		text-align: center;
		line-height: 35px;
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
	header {
		background-size: cover;
		height: 45vh;
	}
	header .h_name {
		display: none;
	}

	nav {
		display: block;
		height: 60px;
		margin-top: -60px;
		background-color: rgba(255, 255, 255, 0);
		box-shadow: rgba(0, 0, 0, 0) 0px 54px 55px, rgba(0, 0, 0, 0) 0px -12px 30px,
			rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0) 0px 12px 13px,
			rgba(0, 0, 0, 0) 0px -3px 5px;
	}

	.container {
		width: 100%;
	}

	.menu-items ul {
		flex-direction: column;
	}

	.navbar .nav-container a {
		color: #d9eaff;
		font-weight: 800;
		font-size: 4vh;
		padding: 0.7rem;
		transition: all 0.5s;
	}

	nav ul li {
		transition: all 0.5s;
	}

	nav ul li:hover {
		transform: scale(1.2);
	}

	.navbar .nav-container a:hover {
		color: #d9eaffb3;
	}

	.nav-container {
		position: absolute;
		top: 0;
	}

	.hamburger_back {
		opacity: 0.5;
		background-color: #00000059;
		box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
		width: 80px;
		height: 67px;
		position: absolute;
		border-bottom-right-radius: 30px;
		position: fixed;
	}

	.nav-container .checkbox {
		position: absolute;
		display: block;
		height: 35px;
		width: 35px;
		top: 10px;
		left: 15px;
		opacity: 0;
		cursor: pointer;
		z-index: 11;
		position: fixed;
	}

	.nav-container .hamburger-lines {
		display: block;
		height: 26px;
		width: 32px;
		position: absolute;
		top: 17px;
		left: 20px;
		z-index: 10;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 10;
		position: fixed;
	}

	.nav-container .hamburger-lines .line {
		display: block;
		height: 4px;
		width: 100%;
		border-radius: 10px;
		background: #ffffff;
	}

	.nav-container .hamburger-lines .line1 {
		transform-origin: 0% 0%;
		transition: transform 0.4s ease-in-out;
	}

	.nav-container .hamburger-lines .line2 {
		transition: transform 0.2s ease-in-out;
	}

	.nav-container .hamburger-lines .line3 {
		transform-origin: 0% 100%;
		transition: transform 0.4s ease-in-out;
	}

	.navbar .menu-items {
		justify-content: center;
		background-color: #631a4b;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23481b73'/%3E%3Cstop offset='1' stop-color='%23481b73' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23270c35'/%3E%3Cstop offset='1' stop-color='%23270c35' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230e1644'/%3E%3Cstop offset='1' stop-color='%230e1644' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23631A4B'/%3E%3Cstop offset='1' stop-color='%23631A4B' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B3B83'/%3E%3Cstop offset='1' stop-color='%231B3B83' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23010105'/%3E%3Cstop offset='1' stop-color='%23010105' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
		background-attachment: fixed;
		background-size: cover;
		height: 100vh;
		width: 100%;
		transform: translate(-150%);
		display: flex;
		flex-direction: column;
		transition: transform 0.5s ease-in-out;
		text-align: center;
		box-shadow: rgb(80 28 100) 0px 52px 186px 10px;
		position: fixed;
		z-index: 5;
	}

	.navbar .menu-items li {
		margin-bottom: 3rem;
		font-size: 1.5rem;
		font-weight: 500;
		margin-top: 30px;
	}

	.nav-container input[type="checkbox"]:checked ~ .menu-items {
		transform: translateX(0);
	}

	.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
		transform: rotate(45deg);
	}

	.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
		transform: scaleY(0);
	}

	.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
		transform: rotate(-45deg);
	}

	.nav-container input[type="checkbox"]:checked ~ .logo {
		display: none;
	}

	.img_macbook {
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}

	.wcanbelearn {
		display: block;
	}

	.wcanbelearn h3 {
		writing-mode: horizontal-tb;
	}

	.wcanbelearn ul li {
		display: block;
		margin: 5px;
		line-height: 50px;
		text-align: center;
	}

	.wcanbelearn ul {
		display: flex;
		justify-content: center;
	}
	html {
		font-size: 9px;
	}
	.main_m {
		width: 90%;
	}
	section {
		text-align: center;
	}
	header {
		height: 60vh;
	}
}

/*  wąskie telefony */
@media (max-width: 415px) {
	html {
		font-size: 7.5px;
	}
}

/* bardzo wąskie telefony */
@media (max-width: 320px) {
	html {
		font-size: 6px;
	}
}

@media (max-height: 600px) {
	header {
		height: 65vh;
	}
}

@media (max-width: 500px) {
	footer ul {
		flex-direction: column;
	}
	footer ul li {
		box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
			rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
			rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
		border-radius: 15px;
		margin-top: 20px;
	}
	footer {
		height: 600px;
	}
}
