/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Koniec RESETU */

html {
	font-size: 10px;
}

body {
	font-family: "Nunito", sans-serif;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	background: center/100% no-repeat url("../images/pixabay_webdeveloper");
	width: 100%;
	height: 50vh;
	color: rgb(236, 245, 255);
	align-items: center;
}

header h1 {
	margin-left: 7%;
	margin-right: 7%;
	font-weight: 600;
	letter-spacing: 1.5px;
	background-color: #000000b3;
	padding: 40px;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.546) 0px 3px 8px;
	font-size: 2vw;
	margin-bottom: 80px;
}

header .h_name {
	font-size: 2rem;
	writing-mode: vertical-rl;
	position: absolute;
	right: 0px;
	opacity: 0.5;
	background-color: #00000059;
	padding: 20px 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;
	margin-bottom: 80px;
}

nav {
	align-items: center;
	display: flex;
	width: 100%;
	height: 80px;
	background-color: rgb(5 16 45 / 94%);
	margin-top: -80px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	justify-content: center;
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 2rem;
	letter-spacing: 1.5px;
	padding: 27px 28px;
	font-weight: 600;
	transition: all 0.5s;
}

.checkbox {
	display: none;
}

nav ul li {
	transition: all 0.5s;
}

nav ul li:hover {
	transform: scale(1.2);
}

nav ul li a:hover {
	color: #ffffff;
}

nav ul li a::before {
	content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    border-radius: 4px;
    background-color: #ffffff4a;
    bottom: 0;
    left: 19px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    top: 39px;
}

nav ul li a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

/* laptopy i desktoy i inne */
@media (min-width: 1300px) {
	header {
		height: 48vh;
	}
}

/* małe laptopy i desktopy */
@media (min-width: 1200px) {
}

/* tablety w poziomie */
@media (min-width: 992px) and (max-width: 1199px) {
	header .h_name {
		font-size: 1.4rem;
	}
}

/* tablety w pionie */
@media (min-width: 767px) and (max-width: 991px) {
	header .h_name {
		font-size: 1.4rem;
	}
	header h1 {
		margin-right: 55%;
		font-size: 3vw;
		text-align: center;
		line-height: 35px;
	}
}

/* Telefony */
@media (max-width: 766px) {
	header h1 {
		font-size: 4.5vw;
		text-align: center;
		line-height: 35px;
		width: 100%;
		margin: 0;
		border-radius: 0;
	}
	header {
		background-size: cover;
		height: 45vh;
	}
	header .h_name {
		display: none;
	}

	nav {
		display: block;
		height: 60px;
		margin-top: -60px;
		background-color: rgba(255, 255, 255, 0);
		box-shadow: rgba(0, 0, 0, 0) 0px 54px 55px, rgba(0, 0, 0, 0) 0px -12px 30px,
			rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0) 0px 12px 13px,
			rgba(0, 0, 0, 0) 0px -3px 5px;
	}

	.container {
		width: 100%;
	}

	.menu-items ul {
		flex-direction: column;
	}

	.navbar .nav-container a {
		color: #d9eaff;
		font-weight: 800;
		font-size: 4vh;
		padding: 0.7rem;
		transition: all 0.5s;
	}

	nav ul li {
		transition: all 0.5s;
	}

	nav ul li:hover {
		transform: scale(1.2);
	}

	.navbar .nav-container a:hover {
		color: #d9eaffb3;
	}

	.nav-container {
		position: absolute;
		top: 0;
	}

	.hamburger_back {
		opacity: 0.5;
		background-color: #00000059;
		box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
		width: 80px;
		height: 67px;
		position: absolute;
		border-bottom-right-radius: 30px;
	}

	.nav-container .checkbox {
		position: absolute;
		display: block;
		height: 32px;
		width: 32px;
		top: 20px;
		left: 20px;
		z-index: 5;
		opacity: 0;
		cursor: pointer;
	}

	.nav-container .hamburger-lines {
		display: block;
		height: 26px;
		width: 32px;
		position: absolute;
		top: 17px;
		left: 20px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.nav-container .hamburger-lines .line {
		display: block;
		height: 4px;
		width: 100%;
		border-radius: 10px;
		background: #ffffff;
	}

	.nav-container .hamburger-lines .line1 {
		transform-origin: 0% 0%;
		transition: transform 0.4s ease-in-out;
	}

	.nav-container .hamburger-lines .line2 {
		transition: transform 0.2s ease-in-out;
	}

	.nav-container .hamburger-lines .line3 {
		transform-origin: 0% 100%;
		transition: transform 0.4s ease-in-out;
	}

	.navbar .menu-items {
		justify-content: center;
		background-color: #631a4b;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23481b73'/%3E%3Cstop offset='1' stop-color='%23481b73' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23270c35'/%3E%3Cstop offset='1' stop-color='%23270c35' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230e1644'/%3E%3Cstop offset='1' stop-color='%230e1644' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23631A4B'/%3E%3Cstop offset='1' stop-color='%23631A4B' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231B3B83'/%3E%3Cstop offset='1' stop-color='%231B3B83' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23010105'/%3E%3Cstop offset='1' stop-color='%23010105' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
		background-attachment: fixed;
		background-size: cover;
		height: 100vh;
		width: 100%;
		transform: translate(-150%);
		display: flex;
		flex-direction: column;
		transition: transform 0.5s ease-in-out;
		text-align: center;
	}

	.navbar .menu-items li {
		margin-bottom: 3rem;
		font-size: 1.5rem;
		font-weight: 500;
		margin-top: 30px;
	}

	.nav-container input[type="checkbox"]:checked ~ .menu-items {
		transform: translateX(0);
	}

	.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
		transform: rotate(45deg);
	}

	.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
		transform: scaleY(0);
	}

	.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
		transform: rotate(-45deg);
	}

	.nav-container input[type="checkbox"]:checked ~ .logo {
		display: none;
	}
}

/* bardzo wąskie telefony */
@media (max-width: 320px) {
}

@media (max-height: 600px) {
	header {
		height: 65vh;
	}
}
