/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Koniec RESETU */

html {
	font-size: 10px;
}

body {
	font-family: "Nunito", sans-serif;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	background: center/100% no-repeat url("../images/pixabay_webdeveloper");
	width: 100%;
	height: 50vh;
	color: rgb(236, 245, 255);
	align-items: center;
}

header h1 {
	margin-left: 7%;
	margin-right: 7%;
	font-weight: 600;
	letter-spacing: 1.5px;
	background-color: #000000b3;
	padding: 40px;
	border-radius: 30px;
	box-shadow: rgba(0, 0, 0, 0.546) 0px 3px 8px;
	font-size: 2vw;
	margin-bottom: 80px;
}

header .h_name {
	font-size: 2rem;
	writing-mode: vertical-rl;
	position: absolute;
	right: 0px;
	opacity: 0.5;
	background-color: #00000059;
	padding: 20px 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	text-align: center;
	margin-bottom: 80px;
}

nav {
	display: flex;
	width: 100%;
	height: 80px;
	background-color: rgb(5 16 45 / 94%);
	margin-top: -80px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	justify-content: center;
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 2rem;
	letter-spacing: 1.5px;
	padding: 27px 28px;
	font-weight: 600;
}

.menu-btn {
	display: none;
}

.menu-icon {
	display: none;
}

.menu_hidden_name {
	display: none;
}

/* laptopy i desktoy i inne */
@media (min-width: 1300px) {
	header {
		height: 48vh;
	}
}

/* małe laptopy i desktopy */
@media (min-width: 1200px) {
}

/* tablety w poziomie */
@media (min-width: 992px) and (max-width: 1199px) {
	header .h_name {
		font-size: 1.4rem;
	}
}

/* tablety w pionie */
@media (min-width: 767px) and (max-width: 991px) {
	header .h_name {
		font-size: 1.4rem;
	}
	header h1 {
		margin-right: 55%;
		font-size: 3vw;
		text-align: center;
		line-height: 35px;
	}
}

/* Telefony */
@media (max-width: 766px) {
	header h1 {
		font-size: 4.5vw;
		text-align: center;
		line-height: 35px;
		width: 100%;
		margin: 0;
		border-radius: 0;
		margin-top: -80px;
	}
	header {
		background-size: cover;
	}
	header .h_name {
		display: none;
	}

	nav {
		height: auto;
		margin-top: -65px;
		justify-content: left;
	}

	nav ul {
		flex-direction: column;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	nav ul li a {
		margin-top: 20px;
		align-items: center;
		display: flex;
		padding: 0;
		margin-left: 50px;
		background-color: rgb(32 38 43);
		padding: 15px 20px;
		border-radius: 15px;
	}

	.menu:last-child {
		margin-bottom: 20px;
	}

	.menu_hidden_name {
		display: flex;
		color: rgba(255, 255, 255, 0.686);
		font-size: 2rem;
		text-align: center;
		line-height: 33px;
		letter-spacing: 1.5px;
		position: absolute;
		right: 15px;
	}

	/* Do mobilnego wysuwanego menu */

	.menu_nav ul {
		overflow: hidden;
	}

	.menu_nav li a {
		display: flex;
	}

	/* mobilne wysuwane menu */

	.menu_nav .menu {
		clear: both;
		max-height: 0;
		transition: max-height 0.2s ease-out;
	}

	/* mobilne wysuwane menu ikona menu */

	.menu_nav .menu-icon {
		cursor: pointer;
		display: flex;
		float: right;
		padding: 30.6px 21px;
		position: relative;
		user-select: none;
		background-color: royalblue;
	}

	.menu_nav .menu-icon .navicon {
		background: rgb(255, 255, 255);
		display: flex;
		height: 4px;
		position: relative;
		transition: 0.2s ease-out;
		width: 25px;
	}

	.menu_nav .menu-icon .navicon:before,
	.menu_nav .menu-icon .navicon:after {
		background: white;
		content: "";
		display: flex;
		height: 90%;
		position: absolute;
		transition: all 0.2s ease-out;
		width: 100%;
	}

	.menu_nav .menu-icon .navicon:before {
		top: 8px;
	}

	.menu_nav .menu-icon .navicon:after {
		top: -8px;
	}

	/* menu btn */

	.menu_nav .menu-btn {
		display: none;
	}

	.menu_nav .menu-btn:checked ~ .menu {
		max-height: 280px;
	}

	.menu_nav .menu-btn:checked ~ .menu-icon .navicon {
		background: transparent;
	}

	.menu_nav .menu-btn:checked ~ .menu-icon .navicon:before {
		transform: rotate(-45deg);
	}

	.menu_nav .menu-btn:checked ~ .menu-icon .navicon:after {
		transform: rotate(45deg);
	}

	.menu_nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
	.menu_nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
		top: 0;
	}
}

/* bardzo wąskie telefony */
@media (max-width: 320px) {
}
